# /etc/systemd/system/roman-services.service

[Unit]
Description=roman/services
RequiresMountsFor=/home/roman/windl /home/roman/windrive /home/roman/windata

[Service]
Type=forking
User=roman
Group=roman
ExecStart=/bin/bash -cl "cd services && ./mg_service start"
ExecStop=/bin/bash -cl "cd services && ./mg_service stop"

[Install]
WantedBy=multi-user.target
